
.banner {
  width: 19.5rem;
  height: 19.5rem;
  margin: auto;
  border-radius: 0.5rem;
}

.banner img {
  display: block;

  height: 100%;
  width: 100%;

  border-radius: 0.5rem;
}

.bg-purple {
  background-color: var(--purple);
}

.bg-green {
  background-color: var(--green);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-blue-dark2 {
  background-color: var(--blue-dark2);
}

.bg-blue-aqua {
  background-color: var(--blue-aqua);
}