.depression-info-page .banner-info {
  width: 20.5rem;
  height: 13.25rem;
  margin: auto;
}

.depression-info-page .banner-info img {
  width: 100%;
}

.depression-info-page .about-anxiety {
  max-width: 20.5rem;
  margin: auto;

  font-weight: 700;
  font-size: 1rem;
  text-align: justify;
}

.depression-info-page .actions-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 20.5rem;
  margin: auto;
  margin-top: 3rem;
}

.depression-info-page .legended-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: transparent;

  color: white;
}

.depression-info-page .legended-button p {
  font-weight: 700;
}

.depression-info-page .entendi {
  background-color: var(--blue-dark1);
}

.depression-info-page .interessante {
  background-color: var(--green-dark);
}

.depression-info-page .nao-entendi {
  background-color: var(--red);
}
